*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: merienda !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color:aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-input::placeholder{
  color: rgba(240, 248, 255, 0.808);
}
.fnt{
  font-size: 14px;
}
.signup{
  background-color: #212121;
  object-fit: contain;
  height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  background-color: #212121;
  height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form{
  margin: 0;
  background-color: #212121;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 70vh;
  border-radius: 40px;
  box-shadow: inset 200px 0px 300px rgba(255, 255, 255, 0.127);
}
.login-form{
  background-color: #212121;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 70vh;
  border-radius: 40px;
  box-shadow: inset 200px 0px 300px rgba(255, 255, 255, 0.127);
}
.form-S{
  text-align: center;
  margin: 30px;
  order:'4'
}
.form-L{
  text-align: center;
  margin: 30px;
  order:'4'
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px;
}
.form-group input{
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  caret-color: purple;
  width: 300px;
}
.glow-green:hover{
  box-shadow: 5px 5px 20px rgba(5, 219, 5, 0.416);
}
.btn-h:active{
  transform: scale(1.2) ;
  transition: all ease-in-out 0.3s;
}
.navlink:active{
  color: aliceblue;
}
.not-found-404{
  background-image: url("./component/404.png");
  background-repeat:no-repeat ;
  background-clip: border-box;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}


@media only screen and (min-width:0px) and (max-width:768px){
  .signup{
      background-color: #212121;
      width: 100vw;
      height: 100vh;
      height: calc(100vh - 80px);
      margin-top: 40px;
    }
  .signup-form{
      background-color: #212121;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
  }
  .login{
      background-image: none;
      width: 100vw;
      height: calc(100vh - 50px);
      margin-top: 20px;
    }
  .login-form{
      background-color: none;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
  }
  .form-group input{
    height: 40px;
  }
  .signup-img{
    height:300px;
    width: 250px;
  }
  .login-img{
    height:300px;
    width: 250px;
  }
  .form-L{
    transform: translate(0px,-40px)
  }
  
  .after-auth{
    display: flex ;
    flex-direction: column;
    justify-content: start;
  }
  .badge-cart{
    position: absolute;
    top: 252px;

  }
  
    
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .after-auth{
      display: flex ;
      flex-direction: column;
      justify-content: start;
    }
    .badge-cart{
      position: absolute;
      top: 252px;
      left:130px;
    }
}

@media only screen and (min-width:1024px)  {
    
}

@media (max-height:500px){
    .login-form{
      height: 120vh;
    }
}